/FarmersOnlyBudget.Api/bin
/FarmersOnlyBudget.Api/obj

/FarmersOnlyBudget.Models/bin
/FarmersOnlyBudget.Models/obj

/FarmersOnlyBudget.Persistence/bin
/FarmersOnlyBudget.Persistence/obj

/.idea